<div class="body">
  <div  class="subhead">
    <h1>Admin Merchants Index</h1>
  </div>
  <%= link_to "Create a new merchant", new_admin_merchant_path %>
  <%= render partial: 'enabled' %>
  <%= render partial: 'disabled' %>
  <%= render partial: 'topfive' %>
</div>