<div class="footer">
<p>Designed By Shawn Carpenter, Scott DeVoss, Matt Darlington & Brendan Bondurant</p>
</div>

<style>
  .footer {
    font-family: Helvetica;
    background-color: #6d8092;
    padding: 5px;
    text-align: left;
  }
</style>