  <div class="top5">
    <div class="subhead">
      <h3>Top 5 Customers By Successful Transactions</h3>
    </div>
    <% @topfivecustomers.each do |customer| %>
      <div class=<%= "top-five" %> id=<%= "top-five-#{customer.id}" %>>
          <h3><%= customer.full_name %></h3>
          <h4>Successful Orders: <%= customer.success_transactions %></h4>
      </div>
    <% end %>
  </div>   